.zentriert  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Layout für das Formular */
form {
    max-width: 30em;

    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    padding: 1em;
}

.center {
    margin: auto;
    width: 50%;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ausblenden der Pfeile in Eingabefelder vom Typ number */
/* Normale Browser und Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

.unsichtbar{
    visibility: hidden;
}

#ergebnis{
    color: red;
}
#ergebnis.korrekt{
    color: green;
}
