.zentriert  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Layout für Kastenumrandung mit grauem Hintergrund */
.kasten {
    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    padding: 1em;
}

input{
    width:100%;
}
/* Ausblenden der Pfeile in Eingabefelder vom Typ number */
/* Gängige Browser und Chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance:textfield;
}

.abstand{
    margin-top: 1em;
}

.unsichtbar{
    display: none !important;
}

#ergebnis{
    color: red;
}
#ergebnis.korrekt{
    color: green;
}
