/* Stylesheet für die Klasse Bestellung*/
span {
    display:inline;
}

/* Layout für Kastenumrandung mit grauem Hintergrund */
.kasten {
    border: 1px solid #d0d0d0;
    background: #F5F5F5;
    padding: 1em;
}

.bottom-buffer {
    margin-bottom: 20px;
}

#stueck{
    min-width: 20%;
    width: 20%;
}

#ergebnis {
    color: red;
}

@media (max-width: 576px){
    #dropdownGroesse{
        margin-left: 40px;
    }

    #addPizza{
        width: 100%;
    }

    #order{
        width: 100%;
    }
}

@media (min-width: 576px){
    #order{
        margin-left: 25px;
    }
}


@media (min-width: 768px){
    #order{
        margin-left: 0px;
    }

    #stueck{
        min-width: 15%;
        width: 15%;
    }
}

@media (min-width: 1200px){
    #order{
        margin-left: 60px;
    }
}

@media (min-width: 1460px){
    #order{
        margin-left: 100px;
    }
}
