/* Stylesheet für die Klasse Bestellung*/

.form {
    max-width: 30em;

    border: 1px solid #d0d0d0;
    background: #f0f0f0;
    padding: 1em;
}

#stueck1{
    min-width: 11%;
    width: 11%;
    max-width: 11%
}

#stueck2{
    width: 11%;
    min-width: 11%;
    max-width: 11%
}

#deletePizzaFromMenu{
    width: 200px;
    height: 30px; 
}
